/* 전체 공통 */

body {
	margin: 0;
	padding: 0;	
}

/* ========================================= */
/* theater_main */

article {
	width: 1400px;
	margin: auto;
}

h1 {
	margin-top: 30px;
}

.theater_top{
	text-align: center;
	margin: 20px;
	padding: 20px;
	
}

.theater_fav{
	margin: 20px auto;
	border-radius: 30px;
	width: 500px;
	height: 100px auto;
	padding: 20px;
}

.nav-link {
	width: 100px;
	border: 1px solid #0d6efd;
	margin: 5px;
	color:#0d6efd;
}
.nav-link:hover {
	background-color: #0d6efd;
	color: white;
}
.form-check{
	text-align: left;
}

.theater_main_cont{
	margin: 30px 0px;;
}

table {
	text-align: center;
}

.theater_map {
	align-content: center;
	
}

/* ========================================= */
/* theater_detail */

.theater_detail_all {
	width: 1400px;
	margin: auto;
}

.theater_name{
	background-image: url(${pageContext.request.contextPath}/resources/images/theater_CINEMA4.jpg);
	position: inherit;
}

,theater_name_aera{
	
	
}

.theater_top{
	margin: auto;
}


.theater_info {
	margin: 25px 5px;  
	padding:30px 5px;
}


.theater_detail_subtab {
	padding:30px 5px;
}



  
/* ========================================= */
/* theater_detail_info.jsp */

.theater_facility_info_img {
	width: 100px; 
	margin: 12px;
}

	
  
  
/* ========================================= */
/* theater_detail_timetable */
.theater-info{
	margin: auto;
	width: 1400px;
}

	
.time_schedule{
	margin: auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	
}

.time_schedule_day{
	margin: 12px auto;
	
	
}


/* ========================================= */
/* theater_detail_price */





