* {
	margin: 0;
	padding: 0;
/* 	border: 1px solid skyblue; */
}

body {
	/* 	background-color: #fffde7; */
	
}

#wrap {
	width: 1200px;
	margin: 0 auto;
}

article {
	position: relative; width : 1200px;
	height: 300px;
	/* 	background-color: #ffd54f; */
	overflow: hidden;
	width: 1200px;
}

article  img {
	float: right;
	width: 600px;
	height: 300px;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: table-cell;
  width:600px;
  height:300px;	
	text-align: left;
}

.neon {
  font-family: neon;
  color: #FB4264;
  margin-top: 60px;
  font-size: 150px;
  line-height: 20px;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 150px;
  margin-top: 110px;
  line-height: 20px;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

section {
	overflow: hidden;
	width: 100%;
	height: 1000px;
/* 	background-color: #ffca28; */
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

section h1 {
	position: relative;
	text-align: center; /* 가운데 정렬 */
	font-size: 32px; /* 폰트 크기 수정 */
	width: 100%; /* 너비 조정 */
	white-space: nowrap;
}
.snackList {
	display: flex;
	margin-top: 50px;
}
.snack1 {
    width: 280px;
    height: 300px;
    float:left;
}
.snack1 .buttons { text-align: center; }

.snack2 {
    width: 280px;
    height: 300px;
    margin-left: 20px;
}
.snack2 .buttons { text-align: center; }

.snack3 {
    width: 280px;
    height: 300px;
	margin-left: 20px;
}
.snack3 .buttons { text-align: center; }

.snack4 {
    width: 280px;
    height: 300px;
    margin-left: 20px;
	float: right;
}
.snack4 .buttons { text-align: center; }


.goodsList {
	display: flex;
	margin-top: 50px;
}
.goods1 {
    width: 300px;
    height: 300px;
    float:left;
}
.goods1 .buttons { text-align: center; }

.goods2 {
    width: 300px;
    height: 300px;
    margin-left: 20px;
}
.goods2 .buttons { text-align: center; }

.goods3 {
    width: 300px;
    height: 300px;
	float: right;
	margin-left: 20px;
}
.goods3 .buttons { text-align: center; }
.goods4 {
    width: 280px;
    height: 300px;
    margin-left: 20px;
	float: right;
}
.goods4 .buttons { text-align: center; }




.content {
	width: 100%;
}






footer {
	width: 100%;
	height: 100px;
	/* 	background-color: #ffb300; */
}