
* {
	margin: 0;
	padding: 0;
	border: 1px solid skyblue; 
}

body {
	background-color: #fffde7;
}

#wrap {
	width: 1200px;
	margin: 0 auto;
}

header {
	width: 1200px;
	height: 100px;
	background-color: #ffe082;
}

article {
	position: relative;
	width: 1200px;
	height: 800px;
	background-color: #ffd54f;
	overflow: hidden;
}

article video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

section {
	overflow: hidden;
	width: 100%;
	height: 1200px; 
/* 	background-color : #ffca28; */
	display: flex;
	flex-wrap: wrap;
}
 
 section h1 {
 	position: relative;
    text-align: center; /* 가운데 정렬 */
    font-size: 32px; /* 폰트 크기 수정 */
    width: 100%; /* 너비 조정 */
/*     height: 40px; */
	white-space: nowrap; 
	
}



section>div {
	width: 20%;
	margin: 1%;
	margin: 1% 1% 0;  
	height : 170px;
/* 	background-color: #ff980; */
	
}


.list {
	display: flex;
	padding: 10px;
	margin-left: 20px;
}
.movie {
	text-align: center;
}

.movie img {
	padding: 10px;
	width: 200px;
	height: 400px;
	display: flex;
}

.movie:hover {
	transform: scale(1.2);
	transition: .1s;
	/* 	transition-delay: 1s; */
}
 
.carousel.slide {
    width: 1200px;
    margin-top: 100px;
	
}

.carousel-item img {
    max-width: 40%;
    max-height: 400px; /* 이미지의 최대 높이 설정 */
	margin: 0 auto; /* 가운데 정렬 */
}
.carousel-control-prev img,
.carousel-control-next img {
	margin-top: 200px;
	 max-width: 60px; /* 이미지의 최대 너비 설정 */
    max-height: 60px;
}
.carousel-item .lank {
    position: absolute;
   	top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
	width: 100%;
	height: 100px;
/* 	background-color: #ffb300; */
}
