@charset "EUC-KR";

.container1{
	height : 900px;
	width: 1400px; /* 해상도 1200*/
/* 	min-width: 1200px; 페이지 최소 너비를 1200으로 설정 해상도 1200 */
}

.container2{
	margin-top: 20px;
}

.admin_header_left{
   float:left;
}
.btn-group:hover .dropdown-menu {
   display:block; 
   margin-left: 130px; 
}
.btn-group:hover  .btn{
   background: black;
   color: white;
   border-radius: 10px;
}
.title{
	float: bottom;
}
.box1{
	height: 50%
}

.table2{
	margin-top: 0px;
}