@charset "EUC-KR";



.admin_header_left{
   float:left;
}
.btn-group:hover .dropdown-menu {
   display:block; 
   margin-left: 130px; 
}
.btn-group:hover  .btn{
   background: black;
   color: white;
   border-radius: 10px;
}







