@charset "EUC-KR";

.container1{
	height : 900px;
	width: 1200px; /* 해상도 1200*/
/* 	min-width: 1200px; 페이지 최소 너비를 1200으로 설정 해상도 1200 */
/* 	margin: 0 auto; 중앙정렬 해상도 1200 */
/* 	margin-top: 15%; */
/* 	margin-left: 20%; */
/* 	    display: flex; */
}
.admin_header_left{
   float:left;
}
.btn-group:hover .dropdown-menu {
   display:block; 
   margin-left: 130px; 
}
.btn-group:hover  .btn{
   background: black;
   color: white;
   border-radius: 10px;
}
select{
	float: right;
}
/* .box1{ */
/* 	margin-top: 10px; */
/* 	height: 900px; */
/* } */
/* .box-in{ */
/* 	margin-top: 10px; */
/* } */
/* .box2{ */
/* 	height: 25%; */
/* 	margin-top: 20px; */
/* } */

select{
	float: right;
}

.title{
	float: bottom;
}
/* .poster{ */
/* 	float: left; */
/* } */