@charset "EUC-KR";

.container1{
	height : 900px;
	width: 1000px; /* 해상도 1200*/
/* 	min-width: 1200px; 페이지 최소 너비를 1200으로 설정 해상도 1200 */
/* 	margin: 0 auto; 중앙정렬 해상도 1200 */
	margin-top: 15%;
	margin-left: 20%;
}

.box1{
	height: 50%
}

.box2{
	height: 50%
	
}

.textarea1{
	margin-top: 10px;
	text-align: left;
	margin: 0 auto;
}

.table2{
	margin-top: 0px;
}

.cat{
	margin-bottom: 0px;
}


/*-----사이드바-------*/

.admin_header_left{
   float:left;
/*    margin-top: 10%; */
}
.btn-group:hover .dropdown-menu {
   display:block; 
   margin-left: 130px; 
}
.btn-group:hover  .btn{
   background: black;
   color: white;
   border-radius: 10px;
}






