<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.boogimovie.mapper.AdminMapper">
	
	<select id="selectMemberList" resultType="hashmap">
		SELECT * 
		FROM member
	</select>

	<select id="selectMember" resultType="itwillbs.p2c3.boogimovie.vo.MemberVO">
		SELECT * 
		FROM member
		WHERE member_id = #{id}
	</select>
	
	<delete id="deleteMember">
		DELETE FROM member
		WHERE member_id = #{id}
	</delete>
	
	<select id="selectMovieList" resultType="hashmap">
		SELECT * 
		FROM movie
	</select>

	<select id="selectMovie" resultType="itwillbs.p2c3.boogimovie.vo.MovieVO">
		SELECT * 
		FROM movie
		WHERE movie_num = #{movie_num}
	</select>
	
	<update id="updateMovie">
		<selectKey keyProperty="board_num" resultType="int" order="BEFORE">
			SELECT board_num  
			FROM board -- update를 위한 동일한 board_num 조회
		</selectKey>
		
		UPDATE movie
		SET movie_name = #{movie_name},
			movie_director = #{movie_director},
			movie_poster = #{movie_poster},
			stillcut_num = #{stillcut_num},
			movie_trailler = #{movie_trailler},
			movie_open_date = #{movie_open_date},
			movie_status = #{movie_status},
			genre_name = #{genre_name},
			movie_grade = #{movie_grade},
			movie_summary = #{movie_summary}
		WHERE movie_num = #{movie_num}
	</update>
	
	<insert id="insertNotice" >
		<selectKey keyProperty="theater_num" resultType="int" order="BEFORE">
			SELECT theater_num FROM theater WHERE theater_name = #{theater_name}
		</selectKey>
		
	INSERT INTO notice (notice_num, notice_subject, notice_content, theater_num, notice_date )
	VALUES (null, #{notice.notice_subject}, #{notice.notice_content}, #{theater_num}, now())
		
	</insert>
	
</mapper>
