<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.boogimovie.mapper.EventMapper">

<!-- 이벤트 리스트 조회 -->
	<select id="selectEventList" resultType="itwillbs.p2c3.boogimovie.vo.EventVO">
		SELECT e.*, ct.coupon_name, et.event_type_name
		FROM event e 
		JOIN event_type et ON e.event_type_num = et.event_type_num
		JOIN coupon_type ct ON ct.coupon_type_num = e.coupon_type_num
	</select>

<!-- 이벤트 조회 -->
	<select id="selectEvent" resultType="itwillbs.p2c3.boogimovie.vo.EventVO">
		SELECT e.*, ct.coupon_name, et.event_type_name
		FROM event e 
		JOIN event_type et ON e.event_type_num = et.event_type_num
		JOIN coupon_type ct ON ct.coupon_type_num = e.coupon_type_num
		WHERE event_num = #{event_num}
	</select>
	





</mapper>