<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="itwillbs.p2c3.boogimovie.mapper.MypageMapper">
    <select id="selectMember" resultType="itwillbs.p2c3.boogimovie.vo.MemberVO">
        <!-- SQL 쿼리 작성 -->
        SELECT * FROM member WHERE member_id = #{member_id}
    </select>
    
    <select id="selectMainMember" resultType="itwillbs.p2c3.boogimovie.vo.MemberVO">
    	SELECT member_name
    	FROM member
    	WHERE member_id = #{member_id}
    </select>
</mapper>