<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.boogimovie.mapper.OtoMapper">
	<!-- 1대1 문의 DB 저장 -->
	<insert id="insertOto">
		<selectKey keyProperty="oto_num" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(oto_num), 0) FROM oto 
		</selectKey>
		INSERT INTO oto(oto_num,
						oto_subject,
						oto_content,
						theater_num,
						member_id,
						oto_date,
						oto_category,
						oto_reply_status)
		VALUES (#{oto_num} + 1,
				#{oto.oto_subject},
				#{oto.oto_content},
				#{theater_num},
				#{id},
				now(),
				#{oto.oto_category},
				'미답')
	</insert>
	
	<!-- otoList 가져오기 -->
	<select id="selectOtoList" resultType="itwillbs.p2c3.boogimovie.vo.OTOVO">
		SELECT o.oto_num
		  -- , o.theater_num
			 , t.theater_name
		  	 , o.oto_content
		     , o.member_id
		     , o.oto_date
		     , o.oto_category
		     , o.oto_reply_status
		     , o.oto_subject
		 FROM oto o
		 JOIN theater t
   		on o.theater_num = t.theater_num
		ORDER BY oto_num DESC
		LIMIT #{startRow}, #{listLimit}
	</select>
	<select id="selectOto" resultType="itwillbs.p2c3.boogimovie.vo.OTOVO">
		SELECT * FROM oto WHERE oto_num = #{oto_num}
	</select>
	<select id="selectTheaterName">
		SELECT theater_name 
		FROM theater
		WHERE theater_num = #{theater_num}
	</select>
	<update id="updateOto">
		UPDATE oto
		SET oto_content = #{oto_content}
		WHERE oto_num = #{oto_num}
	</update>
	<delete id="deleteOto">
		DELETE FROM oto
		WHERE oto_num = #{oto_num}
	</delete>
	<!-- 답변후 '미답' -> '답변' 변경-->
	<update id="updateResponse">
		UPDATE oto
		SET oto_reply_status = '답변'
		WHERE oto_num = #{oto_num}
	</update>
</mapper>