<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.boogimovie.mapper.PaymentMapper">

	<select id="getMember" resultType="itwillbs.p2c3.boogimovie.vo.MemberVO"> 
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<update id="usePoint">
		UPDATE member
		SET member_point = #{member_point}
		WHERE member_id = #{member_id}
	</update>
	
	<update id="updateMemberPoint">
		UPDATE member
		SET member_point = #{member_point}
		WHERE member_id = #{member_id}
	</update>
	
	<insert id="savePayInfo">
		INSERT INTO pay
		VALUES (
			   null
			 , #{ticket_pay_type}
			 , now()
			 , #{ticket_pay_status}
			 , null
			 , #{ticket_pay_price}
			 , #{member_id}
			 , #{scs_num}
			 , #{coupon_num}
			 , #{merchant_uid}
			 , #{use_point}
		)
	</insert>
	
	<select id="getPayInfo" resultType="itwillbs.p2c3.boogimovie.vo.PayVO">
		SELECT *
		FROM pay
		WHERE merchant_uid = #{merchant_uid}
	</select>
	
	<select id="getScreenSession" resultType="itwillbs.p2c3.boogimovie.vo.ScreenSessionVO">
		SELECT *
		FROM reserve_view
		WHERE scs_num = #{scs_num} 
	</select>
	
	
</mapper>