<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="itwillbs.p2c3.boogimovie.mapper.TheaterMapper">
 
 	<select id="selectTheatersOrderbyName" resultType="itwillbs.p2c3.boogimovie.vo.TheaterVO">
 		SELECT *
 		FROM theater
 		ORDER BY theater_name
 	</select>
 	
 	<select id="selectTheatersOrderbyLike" resultType="itwillbs.p2c3.boogimovie.vo.TheaterVO">
 		SELECT *
 		FROM theater
 		ORDER BY theater_name
 	</select>
 	
	
	<select id="selectTheater">
		SELECT * 
		FROM theater
		WHERE theater_num = #{theater_num}
	</select>
	

	<select id="selectFacility" resultType="itwillbs.p2c3.boogimovie.vo.TheaterFacilityVO">
		SELECT * 
		FROM theater_facility 
		WHERE theater_num = #{theater_num};
	</select>
	
	
	<select id="selectTheaterName" resultType="int">
		SELECT theater_num
		FROM theater
		WHERE theater_name = #{theater_name}
	</select>
	
	<select id="selectTheaterNoticeList" resultType="itwillbs.p2c3.boogimovie.vo.NoticeVO">
		SELECT notice_subject, notice_content, notice_date, theater_name
		FROM notice 
		JOIN theater 
		ON notice.theater_num = theater.theater_num 
		WHERE notice.theater_num = #{theater_num};
	</select>
	
	<select id="selectNoticeList" resultType="itwillbs.p2c3.boogimovie.vo.NoticeVO">
		SELECT notice_subject, notice_content, notice_date, theater_name
		FROM notice 
		JOIN theater 
		ON notice.theater_num = theater.theater_num 
		WHERE notice_category = '극장';
	</select>
	
	<select id="selectTheater2" resultType="itwillbs.p2c3.boogimovie.vo.TheaterVO">
		SELECT *
		FROM theater
	</select>
	
	
	<update id="updateTheater">
		UPDATE theater
		SET    theater_name = #{theater_name}
		     , theater_address = #{theater_address}
		     , theater_map_x = #{theater_map_x}
		     , theater_map_y = #{theater_map_y}
		     , theater_floor_info = #{theater_floor_info}
		     , theater_parking_info = #{theater_parking_info}
		     , theater_parking_fee = #{theater_parking_fee}
		     , theater_public_bus = #{theater_public_bus}
		     , theater_public_subway = #{theater_public_subway}
		     , theater_hours = #{theater_hours}
		     , theater_status = #{theater_status}
		WHERE  theater_num = #{theater_num}
	</update>
	
	<insert id="insertTheater">
		INSERT INTO theater
		VALUES (
				null             			 -- 번호(idx) 자동 증가
				, #{theater_name}
				, #{theater_address}
				, #{theater_map_x}     
				, #{theater_map_y}
				, #{theater_floor_info}
				, #{theater_parking_info}
				, #{theater_parking_fee}
				, #{theater_public_bus}
				, #{theater_public_subway}
				, #{theater_hours}
				, #{theater_status}
		)
	</insert>
	
</mapper>
