<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.boogimovie.mapper.TicketingMapper">
	<select id="fianlListSelect" resultType="itwillbs.p2c3.boogimovie.vo.ScreenSessionVO">
		SELECT *
		FROM tic_final_list
		WHERE movie_num = #{movie_num}
		AND theater_num = #{theater_num}
		AND DATE(scs_start_date) = STR_TO_DATE(#{select_date}, '%Y-%m-%d')
	</select>
	
	<select id="chooseSeatSelect" resultType="itwillbs.p2c3.boogimovie.vo.ScreenSessionVO">
		SELECT *
		FROM tic_final_list
		WHERE movie_num = #{movie_num}
		AND theater_num = #{theater_num}
		AND DATE_FORMAT(scs_start_date, '%Y-%m-%d %H:%i') = DATE_FORMAT(#{scs_start_date}, '%Y-%m-%d %H:%i')
    	AND DATE_FORMAT(scs_end_date, '%Y-%m-%d %H:%i') = DATE_FORMAT(#{scs_end_date}, '%Y-%m-%d %H:%i')
	</select>
	

		

</mapper>